h2,
h3,
p {
    text-align: center;
    color: lightgreen;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}



.example-form {
    margin-left: 5%;
    margin-top: 2%;
}

.button {
    width: 100%;
}